
/**
 *
 * The 1140px Grid V2 by Andy Taylor
 * http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com
 *
 * 
 * Modified by
 * @author Josh M Frankel (blog.joshmfrankel.com / www.joshmfrankel.com)
 * @version 3.0
 * 
 * Added support for inner rows and inner containers
 * Removed non-grid related styles
 * 
 */

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.row,
.innerrow {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.innerrow {
	min-width: inherit;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {

	/* Gutter width */
	margin-right: 3.8%;

	float: left;
	min-height: 1px;
}

.row .onecol {
	width: 4.85%;
}

.row .twocol {
	width: 13.45%;
}

.row .threecol {
	width: 22.05%;
}

.row .fourcol {
	width: 30.75%;
}

.row .fivecol {
	width: 39.45%;
}

.row .sixcol {
	width: 48%;
}

.row .sevencol {
	width: 56.75%;
}

.row .eightcol {
	width: 65.4%;
}

.row .ninecol {
	width: 74.05%;
}

.row .tencol {
	width: 82.7%;
}

.row .elevencol {
	width: 91.35%;
}

.row .twelvecol {
	width: 100%;
	float: left;
}

.lastcol {
	margin-right: 0px;
}


/* Mobile */
@media handheld, only screen and (max-width: 767px) {

	.row, body, .container, .innerrow, .innercontainer {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol, .innerrow .onecol, .innerrow .twocol, .innerrow .threecol, .innerrow .fourcol, .innerrow .fivecol, .innerrow .sixcol, .innerrow .sevencol, .innerrow .eightcol, .innerrow .ninecol, .innerrow .tencol, .innerrow .elevencol, .innerrow .twelvecol {
			width: auto;
			float: none;
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 20px;
			padding-right: 20px;
	}

	.container .innercontainer {
		position: relative;

		/* Remove the left padding */
		left: -20px;

		/* Increase the width to account for the 10% gutter */
		width: 110%;
	}

}